<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img [src]="user.img | image" alt="user" />
            <span class="hide-menu"> {{ user.name }} </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/" >My Profile </a></li>
            <li><a routerLink="/" >My Balance</a></li>
            <li><a routerLink="/" >Inbox</a></li>
            <li><a routerLink="/account-settings"
                   routerLinkActive="active">Account Setting</a></li>
            <li><a (click)="userService.logout()" class="pointer">Logout</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PERSONAL</li>

        <li *ngFor="let menu of _sidebar.menu">
          <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
            <i [class]="menu.icon"></i>
            <span class="hide-menu">
              {{ menu.title }}
              <span class="label label-rouded label-themecolor pull-right">
                {{ menu.submenu.length }}
              </span>
            </span></a>
          <ul aria-expanded="false" class="collapse">
            <li *ngFor="let submenu of menu.submenu">
              <a [routerLink]="[ submenu.url ]" routerLinkActive="active">
                {{ submenu.title }}
              </a>
            </li>
          </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Inbox</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="app-email.html">Mailbox</a></li>
            <li><a href="app-email-detail.html">Mailbox Detail</a></li>
            <li><a href="app-compose.html">Compose Mail</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
